#shape{
    width: 200px;
    height:200px;
    background-color: red;
    position:absolute;
    cursor: pointer;
    margin:200px 200px 200px;
    
    }

body{
    background-color: azure;
}
